header {
    background-color: #1F2937;
    color: white;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
}

body {
    display: flex;
    flex-direction: column;
}

top {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
}

m1 {
    background-color: white;
}

m2 {
    background-color:#E5E7EB;
}

bottom {
    background-color: white;
}

footer {
    background-color: #1F2937;
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    gap: 60px;
}

.sign-up-1 {
    background-color: rgb(53, 110, 232);
    color: white;
    display: block;
}

img {
    width: 265px;
    height: auto;
    margin: 50px;
}

.left-body h1{
    margin: 0;
}

.left-body {
margin: 50px;
}

m1 {
    background-color: white;
}

.info-header {
    display: flex;
    color: black;
    justify-content: center;
}

.image-containers {
    display: flex;
    flex: auto;
    gap: 5px;
    border: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 0px;
}

.image-containers img {
    border: 2px solid black;
    border-radius: 18px;
}